@font-face {
  font-family: name;
  src: url(../../../../../fonts/love_yanone.ttf);
}

@font-face {
  font-family: icon;
  src: url(../assets/IconVF.ttf);
}

@font-face {
  font-family: theia;
  src: url(../assets/Theia0.2.500-500.otf);
}

:root {
  font-family: theia;
  font-size: 20px;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

i {
  font-family: icon;
}
