.react_radial_0123456790 {
  pointer-events: none;
  top: calc((var(--y)) - var(--ring-size) / 2);
  left: calc((var(--x)) - var(--ring-size) / 2);
  height: var(--ring-size);
  width: var(--ring-size);
  position: fixed;
  border-radius: 50%;
  z-index: 20;
  transition: all 100ms ease-in;
  opacity: var(--is-active-opacity);
  .radial-option {
    color: #fff;
    transition: all 100ms ease-in;
    pointer-events: var(--is-active-pointer-events);
    user-select: none;
    position: absolute;
    border: var(--is-active-border);
    background: var(--is-active-background);
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 0.8em;
    &:hover {
      background: #fff;
      color: #000;
    }
    &:active,
    &:hover.pressed {
      background: #000;
      color: #fff;
    }
    &.back {
      position: fixed;
      top: calc(var(--y) - var(--option-size) / 4);
      left: calc(var(--x) - var(--option-size) / 4);
      height: calc(var(--option-size) * 0.5);
      width: calc(var(--option-size) * 0.5);
      background: #000;
      color: #fff;
      &:hover {
        background: #fff;
        color: #000;
      }
    }
    --opt-ratio: calc(var(--idx) / var(--action-count));
    --opt-angle: calc(90deg + (-360deg * var(--opt-ratio)));
    --yy: sin(var(--opt-angle));
    --xx: cos(var(--opt-angle));
    height: var(--option-size);
    width: var(--option-size);
    bottom: calc(
      ((var(--ring-size) / 2) - var(--option-size) / 2) +
        (var(--yy) * var(--ring-size) / 2)
    );
    left: calc(
      ((var(--ring-size) / 2) - var(--option-size) / 2) +
        (var(--xx) * var(--ring-size) / 2)
    );
  }
}
footer.react_radial_0123456790__info {
  pointer-events: none;
  position: fixed;
  top: calc(var(--y) - (100px + (var(--size) / 2)));
  left: calc(var(--x) - 250px);
  width: 500px;
  height: var(--size);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  color: var(--bg-color);
  header {
    padding: 7px 14px;
  }
}
