span.class {
  flex-shrink: 1;
  width: min(var(--allowed-space), var(--child-len));
  article {
    width: var(--child-len);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
