div.class {
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  > main {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    gap: 10px;
    > [data-css="enemy"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      width: 100%;
      flex: 1 0 0;
      min-width: 0;
      gap: 10px;
      > [data-css="their-pfp"] {
        background: #888;
        aspect-ratio: 1 / 1;
        max-width: 50px;
        border-radius: 50%;
      }
      > [data-css="their-hands"] {
        position: relative;
        width: 100%;
        max-height: 100px;
        flex: 1 0 0;
      }
    }
  }
  > [data-css="tabletop"] {
    position: absolute !important;
    z-index: -1 !important;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: var(--table-far);
  }
}
