div.class {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  main {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    > div {
      position: relative;
      display: inline-flex;
      width: 100%;
      flex: 1 0 0;
      min-width: 0;
      > div {
        position: relative;
        width: 100%;
      }
    }
  }
  span {
    height: 50%;
    width: 100%;
  }
}
