:root {
  color-scheme: light dark;

  --logo-color: #fff200;

  --fg-tint-3: #fff;
  --fg-hard-3: var(--fg-tint-3);
  --fg-tint-2: #fafafa;
  --fg-hard-2: var(--fg-tint-2);
  --fg-tint-1: #f5f5f5;
  --fg-hard-1: var(--fg-tint-1);
  --fg: #eee;
  --fg-dark-1: #ddd;
  --fg-soft-1: var(--fg-dark-1);
  --fg-dark-2: #ccc;
  --fg-soft-2: var(--fg-dark-2);
  --fg-dark-3: #bbb;
  --fg-soft-3: var(--fg-dark-3);

  --bg-tint-3: #333;
  --bg-soft-3: var(--bg-tint-3);
  --bg-tint-2: #222;
  --bg-soft-2: var(--bg-tint-2);
  --bg-tint-1: #111;
  --bg-soft-1: var(--bg-tint-1);
  --bg: #090909;
  --bg-dark-1: #060606;
  --bg-hard-1: var(--bg-dark-1);
  --bg-dark-2: #030303;
  --bg-hard-2: var(--bg-dark-2);
  --bg-dark-3: #000;
  --bg-hard-3: var(--bg-dark-3);

  --hyperlink-color: #09f;
  --hyperlink-hover-color: #0df;

  --PI: 3.14159265358979;

  color: var(--fg);
  background-color: var(--bg);
  position: relative;

  body {
    padding: 0;
    margin: 0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 15px;
  line-height: calc(4 / 3);
}

@media (prefers-color-scheme: light) {
  :root {
    --logo-color: #000;

    --fg-tint-3: #666;
    --fg-hard-3: var(--fg-tint-3);
    --fg-tint-2: #555;
    --fg-hard-2: var(--fg-tint-2);
    --fg-tint-1: #444;
    --fg-hard-1: var(--fg-tint-1);
    --fg: #333;
    --fg-dark-1: #222;
    --fg-soft-1: var(--fg-dark-1);
    --fg-dark-2: #111;
    --fg-soft-2: var(--fg-dark-2);
    --fg-dark-3: #000;
    --fg-soft-3: var(--fg-dark-3);

    --bg-tint-3: #fffefc;
    --bg-hard-3: var(--bg-tint-3);
    --bg-tint-2: #fdfcfa;
    --bg-hard-2: var(--bg-tint-2);
    --bg-tint-1: #f5f4f2;
    --bg-hard-1: var(--bg-tint-1);
    --bg: #efede9;
    --bg-dark-1: #eae8e4;
    --bg-soft-1: var(--bg-dark-1);
    --bg-dark-2: #e4e2de;
    --bg-soft-2: var(--bg-dark-2);
    --bg-dark-3: #dedcd8;
    --bg-soft-3: var(--bg-dark-3);

    color: var(--fg);
    background-color: var(--bg);
    --hyperlink-color: #08f;
    --hyperlink-hover-color: #04f;
  }
  a:hover {
    color: #08f;
  }
  button {
    background-color: #f9f9f9;
  }
}

a {
  font-weight: 500;
  color: var(--hyperlink-color);
  text-decoration: inherit;
  &:hover {
    color: var(--hyperlink-hover-color);
    text-decoration: underline;
  }
}

// header {
//   border: 1px solid #f00;
// }
// main {
//   border: 1px solid #0f0;
// }
// footer {
//   border: 1px solid #00f;
// }
// form {
//   border: 1px solid #f0f;
// }
// label {
//   border: 1px dashed #f0f;
// }
// nav {
//   border: 1px dashed #f00;
// }
// article {
//   border: 1px dashed #0f0;
// }
// aside {
//   border: 1px dashed #00f;
// }
