---
import Layout from "../layouts/Layout.astro"
import packageJson from "atom.io/package.json"
import "../styles/page.css"
---

<Layout>
	<main class="home-page">
		<section>
			<h1>
				<span>atom</span>
				<span>.io</span>
			</h1>
			<span class="description">
				{packageJson.description}
			</span>
			<footer>
				<a href="/docs/getting-started" class="primary">
					Get Started
				</a>
				<a href="/docs" class="secondary">
					Read the Docs
				</a>
			</footer>
		</section>
	</main>
</Layout>
