---
import Layout from "../layouts/Layout.astro"
import scss from "../styles/page.module.scss"
import packageJson from "atom.io/package.json"
---

<Layout>
  <main class={scss.class}>
    <section>
      <h1>
        <span>atom</span>
        <span>.io</span>
      </h1>
      <span class="description"></span>
        {packageJson.description}
      </span>
      <footer>
        <a href="/docs/getting-started" class={scss.primary}>
          Get Started
        </a>
        <a href="/docs" class={scss.secondary}>
          Read the Docs
        </a>
      </footer>
    </section>
  </main>
</Layout>
