*.js
*.js.map
!.eslintrc.js
.DS_STORE
.env
.turbo
coverage
dist
node_modules
package-lock.json
projects
metafile-*
bin
pkg
**/tempest.games/**/*.gen.ts
**/core.wayfarer.quest/logs/*.txt
heap.json
!**/break-check/bin/x.js
!**/break-check/__tests__/fixtures/**/*.js