*.js
*.js.map
*.wasm
.DS_STORE
.env
.turbo
coverage
dist
bin
node_modules
package-lock.json
projects
metafile-*
pkg
**/htmx-concept/**/*.gen.ts
**/core.wayfarer.quest/logs/*.txt
heap.json
!**/break-check/__tests__/fixtures/**/*.js
*.tsdoc.json
