*.js
*.js.map
*.wasm
!eslint.config.js
!.eslintrc.js
.DS_STORE
.env
.turbo
coverage
dist
bin
node_modules
package-lock.json
projects
metafile-*
pkg
**/tempest.games/**/*.gen.ts
**/core.wayfarer.quest/logs/*.txt
heap.json
!**/break-check/__tests__/fixtures/**/*.js