main.class {
  display: flex;
  flex-flow: column;
  min-height: 100svh;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding: 60px 10px 30px;
  > header {
    width: 100%;
    max-width: 512px;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    z-index: 10;
    > main {
      display: flex;
      flex-flow: column;
      > svg {
        width: 100%;
        max-width: 270px;
        @media (prefers-color-scheme: light) {
          mix-blend-mode: multiply;
        }
      }
      > span {
        color: var(--bg-soft-3);
      }
    }
    > button[data-css="profile"] {
      font-family: Theia;
      height: 40px;
      width: 40px;
      border-radius: 0px;
      border: 1px solid var(--fg-soft-1);
    }
    > div[data-css="profile-actions"] {
      background-color: var(--bg-tint-2);
      border: 1px solid var(--bg-tint-3);
      display: flex;
      flex-flow: column;
      > button,
      > span {
        font-family: Theia;
        border: none;
        border-radius: none;
        padding: 5px 10px;
        font-size: 15px;
        text-align: left;
      }
    }
  }
  > main {
    width: 100%;
    max-width: 512px;
    flex-grow: 1;
    align-content: end;
    > form {
      display: flex;
      flex-flow: row wrap;
      height: 100%;
      gap: 30px;
      align-items: end;
      > main {
        width: 100%;
        max-width: 200px;
        display: flex;
        flex-flow: column;
        gap: 10px;
        > h1 {
          font-size: 30px;
          font-weight: 400;
          line-height: 1.167em;
        }
        > aside {
          background-color: #f00;
          color: var(--bg-hard-3);
          font-size: 15px;
          padding: 3px 6px;
        }
        > label {
          display: flex;
          flex-flow: column;
          position: relative;
          > span {
            flex-grow: 1;
            font-size: 15px;
            &:has(+ input:disabled) {
              color: var(--fg-soft-2);
            }
          }
          > input {
            --energy-color: var(--fg-soft-2);
            box-sizing: border-box;
            border-radius: 0px;
            height: 34px;
            background: none;
            outline: 1px solid var(--energy-color);
            border: none;
            font-family: Uruz;
            font-size: 21px;
            padding: 18px 0px 16px 8px;
            &:focus {
              outline-width: 2px;
            }
            &:disabled {
              color: var(--fg-soft-3);
              --energy-color: var(--bg-soft-3);
            }
          }
        }
        > footer {
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          > button {
            border: none;
            padding: 0px;
            font-size: 12px;
            color: var(--hyperlink-color);
          }
          > span ~ button {
            background-color: var(--bg-dark-3);
            color: var(--fg);
            width: 50px;
            height: 40px;
            padding-top: px;
            font-family: theia;
            border: none;
            align-self: flex-end;
            border: var(--fg-soft-3) solid 1px;
            cursor: pointer;
            &:disabled {
              background-color: var(--bg-hard-1);
              border: 1px solid var(--bg-soft-1);
              color: var(--bg-soft-3);
              &:hover {
                cursor: not-allowed;
              }
            }
          }
        }
      }
      > footer {
        display: flex;
        flex-flow: column;
        gap: 30px;
        align-items: start;

        > a {
          font-size: 15px;
          color: var(--fg);
          &:hover {
            color: var(--hyperlink-hover-color);
            > u {
              color: var(--hyperlink-hover-color);
            }
          }
          > u {
            color: var(--hyperlink-color);
          }
        }
      }
    }
    > article {
      width: 100%;
      overflow: visible;
      > h1 {
        margin: -36px 0 -36px -6px;
        font-size: 144px;
        font-weight: 600;
      }
      > h2 {
        font-size: 36px;
        margin-top: 0px;
      }
      &[data-css="editor"] {
        display: flex;
        flex-flow: column;
        gap: 20px;
        > form {
          display: flex;
          flex-flow: row;
          gap: 10px;
          > main {
            display: flex;
            flex-flow: column;
            gap: 15px;
            flex-grow: 1;
            > label {
              display: flex;
              flex-flow: column;
              gap: 10px;
              > span {
                flex-grow: 1;
                font-size: 15px;
                &:has(+ input:disabled) {
                  color: var(--fg-soft-2);
                }
              }
              > input {
                background: none;
                outline: 1px solid var(--energy-color);
                border: none;
                font-family: theia;
                font-size: 17px;
                padding: 18px 0px 16px 8px;
                margin-bottom: 1px;
                flex-grow: 1;
                border-bottom: 1px solid transparent;
                &:focus {
                  outline-width: 2px;
                }
                &:disabled {
                  color: var(--fg-soft-3);
                  --energy-color: var(--bg-soft-3);
                  border-bottom: 1px solid var(--energy-color);
                  border-left: 1px solid var(--energy-color);
                  outline: none;
                  padding-top: 11px;
                  // padding-left: 0px;
                }
              }
            }
            ~ button {
              align-self: flex-end;
            }
          }
          > button {
            min-width: 36px;
            height: 36px;
            align-self: flex-start;
            margin-top: 29px;
            padding: 2px 8px 0px;
          }
        }
      }
    }
  }

  button {
    background-color: var(--bg-dark-3);
    color: var(--fg);
    font-family: theia;
    border: var(--fg-soft-3) solid 1px;
    cursor: pointer;
    &:disabled {
      background-color: var(--bg-hard-1);
      border: 1px solid var(--bg-soft-1);
      color: var(--bg-soft-3);
      &:hover {
        cursor: not-allowed;
      }
    }
  }
  input {
    --energy-color: var(--fg-soft-2);
    box-sizing: border-box;
    border-radius: 0px;
    height: 34px;
    background: none;
    outline: 1px solid var(--energy-color);
    border: none;
    font-family: Uruz;
    font-size: 21px;
    padding: 18px 0px 16px 8px;
    &:focus {
      outline-width: 2px;
    }
    &:disabled {
      color: var(--fg-soft-3);
      --energy-color: var(--bg-soft-3);
    }
  }
  label {
    position: relative;
    > aside {
      display: none;
    }
    &:focus-within {
      > aside {
        position: absolute;
        display: flex;
        flex-flow: column-reverse;
        bottom: calc(100% - 24px);
        right: 0;
        max-width: 160px;
        font-size: 15px;
        line-height: 1.2em;
        text-align: right;
        padding: 3px 4px 4px 4px;
        background-color: red;
        color: var(--bg);
      }
    }
  }
}
