main.class {
  display: flex;
  flex-flow: column;
  min-height: 100svh;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding: 60px 10px 30px;
  > header {
    width: 100%;
    max-width: 512px;
    svg {
      width: 100%;
      max-width: 270px;
      @media (prefers-color-scheme: light) {
        mix-blend-mode: multiply;
      }
    }
  }
  > main {
    width: 100%;
    max-width: 512px;
    flex-grow: 1;
    align-content: end;
    > form {
      display: flex;
      flex-flow: row wrap;
      height: 100%;
      gap: 30px;
      align-items: end;
      > main {
        width: 100%;
        max-width: 200px;
        display: flex;
        flex-flow: column;
        gap: 10px;
        > aside {
          background-color: #f007;
          color: var(--bg-hard-3);
          font-size: 15px;
          padding: 3px 6px;
        }
        > label {
          display: flex;
          flex-flow: column;
          position: relative;
          > span {
            flex-grow: 1;
            font-size: 15px;
          }
          > input {
            --energy-color: var(--fg-soft-3);
            box-sizing: border-box;
            border-radius: 0px;
            height: 34px;
            background: none;
            border: 1px solid var(--energy-color);
            font-family: Uruz;
            font-size: 21px;
            &:focus {
              outline: none;
              border-width: 2px;
            }
          }
          > aside {
            display: none;
          }
          &:focus-within {
            > aside {
              position: absolute;
              display: flex;
              flex-flow: column-reverse;
              bottom: calc(100% - 24px);
              right: 0;
              max-width: 160px;
              font-size: 15px;
              line-height: 1.2em;
              text-align: right;
              padding: 3px 4px 4px 4px;
              background-color: red;
              color: var(--bg);
            }
          }
        }
        > button {
          background-color: var(--bg-dark-3);
          color: var(--fg);
          width: 50px;
          height: 40px;
          font-family: theia;
          border: none;
          align-self: flex-end;
          margin-top: 10px;
          border: var(--fg-soft-3) solid 1px;
          cursor: pointer;
          &:disabled {
            background-color: var(--bg-hard-1);
            border: 1px solid var(--bg-soft-1);
            color: var(--bg-soft-3);
            &:hover {
              cursor: not-allowed;
            }
          }
        }
      }
      > footer {
        display: flex;
        flex-flow: column;
        gap: 30px;
        align-items: start;

        > a {
          font-size: 15px;
          color: var(--fg);
          &:hover {
            color: var(--hyperlink-hover-color);
            > u {
              color: var(--hyperlink-hover-color);
            }
          }
          > u {
            color: var(--hyperlink-color);
          }
        }
      }
    }
    > article {
      width: 100%;
      overflow: visible;
      > h1 {
        margin: -36px 0 -36px -6px;
        font-size: 144px;
        font-weight: 600;
      }
      > h2 {
        font-size: 36px;
        margin-top: 0px;
      }
    }
  }
}
