main[data-css="atom_io_devtools"] {
	--fg-color: #ccc;
	--fg-light: #aaa;
	--fg-soft: #888;
	--fg-faint: #777;
	--fg-hint: #666;
	--fg-max: #fff;
	--bg-color: #111;
	--bg-accent: #00f;
	--bg-max: #000;
	--bg-tint1: #222;
	--bg-tint2: #333;
	--fg-border: 1px solid var(--fg-color);
	--fg-border-soft: 1px solid var(--fg-soft);
	--fg-border-hint: 1px solid var(--fg-hint);
	@media (prefers-color-scheme: light) {
		--fg-color: #444;
		--fg-light: #777;
		--fg-soft: #888;
		--fg-faint: #999;
		--fg-hint: #ccc;
		--fg-max: #000;
		--bg-color: #ddd;
		--bg-accent: #0ff;
		--bg-max: #fff;
		--bg-tint1: #e3e3e3;
		--bg-tint2: #f3f3f3;
	}
	* {
		box-sizing: border-box;
	}
	& {
		pointer-events: all;
		box-sizing: border-box;
		color: var(--fg-color);
		background-color: var(--bg-color);
		border: 2px solid var(--fg-color);
		position: fixed;
		right: 0;
		bottom: 0;
		height: 100%;
		display: flex;
		flex-flow: column;
		max-height: 800px;
		width: 100%;
		max-width: 500px;
		overflow-y: scroll;
	}
	* {
		font-size: 16px;
		font-family: theia, monospace;
		line-height: 1em;
		color: var(--fg-color);
	}
	> header {
		padding-bottom: 0;
		display: flex;
		justify-content: space-between;
		h1 {
			margin: 2px 4px;
			font-size: 24px;
			font-family: charter, serif;
		}
		nav {
			position: relative;
			display: flex;
			flex-flow: row nowrap;
			margin-top: 4px;
			overflow-x: scroll;
			overflow-y: visible;
			height: 24px;
			button {
				height: 24px;
				cursor: pointer;
				background: none;
				border: none;
				padding: 0px 5px;
				margin-bottom: -2px;
				z-index: 1000;
				&:disabled {
					cursor: default;
					background-color: var(--fg-color);
					color: var(--bg-color);
					border: var(--fg-border);
				}
			}
		}
	}
	> main {
		background: var(--bg-tint1);
	}
	> main::before {
		background-color: black;
		height: 10px;
	}
	> main {
		overflow-y: scroll;
		flex-grow: 1;
		display: flex;
		flex-flow: column;
		gap: 0;
		article.index {
			margin-bottom: 24px;
			border-bottom: var(--fg-border);
			.node .node {
				border-right: var(--fg-border);
				padding-right: 0;
				background: #ffffff08;
				@media (prefers-color-scheme: light) {
					background: #00000004;
				}
			}
			.node > .node {
				margin: 0px 0px 0px 9px;
				border-left: var(--fg-border-soft);
			}
			.node {
				border-top: var(--fg-border);
				overflow: visible;

				&.transaction_update {
					padding: 0;
				}
				> header {
					display: flex;
					flex-flow: row;
					justify-content: space-between;
					position: sticky;
					z-index: 999;
					top: 0;
					height: 22px;
					background: var(--bg-tint2);
					border-bottom: none;
					> main {
						display: flex;
						flex-flow: row;
						cursor: help;
						align-items: center;
						flex-shrink: 0;
						* {
							height: 100%;
							display: flex;
							align-items: center;
							align-content: center;
							justify-content: center;
						}
						h2 {
							margin: 0;
						}
						.detail {
							margin-left: 5px;
							color: #777;
							@media (prefers-color-scheme: light) {
								color: #999;
							}
						}
					}
					> .json_editor {
						border-left: var(--fg-border-soft);
						padding: 3px 0px;
					}
					> .json_viewer {
						color: var(--fg-light);
						font-size: 14px;
						flex-shrink: 1;
					}
					> .json_editor,
					> .json_viewer {
						margin-left: 3px;
						display: flex;
						flex-shrink: 1;
						z-index: -1;
						overflow-x: scroll;
						align-items: center;
						white-space: pre;
						background: var(--bg-tint2);
						&:focus-within {
							background-color: var(--bg-max);
							outline: 2px solid var(--fg-max);
							* {
								color: var(--fg-max);
							}
						}
						&.nu * {
							display: flex;
							height: 100%;
						}
						> span {
							padding: 0px 5px;
							z-index: 0;
						}
						input {
							outline: none;
							min-width: 10px;
						}
					}
				}
			}
			section.transaction_log {
				margin-top: 0;
				main {
					display: flex;
					flex-flow: row wrap;
					gap: 5px;
					.transaction_update {
						width: 100%;
						display: flex;
						flex-flow: row;
						align-items: flex-start;
						justify-content: flex-start;
						justify-items: flex-start;
						align-content: flex-start;
						border-left: var(--fg-border);
						border-top: var(--fg-border);
						header {
							padding: 5px;
							h4 {
								margin: 0;
								padding: 0;
								font-size: inherit;
							}
						}
						main {
							margin-left: 0;
							display: flex;
							flex-flow: column;
							gap: 0px;
							border-left: 1px solid #333;
							section ~ section {
								border-top: 1px solid #333;
							}
							section {
								padding: 5px;
								&.transaction_output {
									border-right: none;
								}
								&.transaction_impact {
									padding: 5px;
								}
								margin: 0;
								article {
									border-left: var(--fg-border);
									border-right: var(--fg-border);
									.summary {
										white-space: nowrap;
									}
								}
							}
						}
					}
				}
			}
			section.timeline_log {
				header {
					display: flex;
					> main {
						display: flex;
						width: 100%;
						flex-grow: 1;
						.gap {
							flex-grow: 1;
						}
						nav {
							display: flex;
							flex-flow: row nowrap;
							gap: 5px;
						}
					}
				}
				.timeline_update {
					padding: 5px;
					border-left: var(--fg-border);
					h4 {
						margin: 0;
						padding: 0;
						font-size: inherit;
					}
					main {
						margin: 0;
						.node.atom_update {
							border-left: var(--fg-border);
						}
					}
				}
				.you_are_here {
					background: var(--fg-color);
					color: var(--bg-color);
					text-align: center;
				}
			}
		}
	}
	> footer {
		display: flex;
		justify-content: flex-end;
		button {
			cursor: pointer;
			background: none;
			border: none;
			padding: none;
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}

	.json_editor {
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		> header {
			width: 100%;
			display: flex;
			flex-flow: row;
			align-items: baseline;
			overflow: hidden;
			white-space: nowrap;
			justify-content: space-between;
			> main {
				display: flex;
				flex-flow: row;
				align-items: baseline;
				height: 100%;
				flex-shrink: 1;
				overflow-x: hidden;
				> .json_viewer {
					flex-shrink: 1;
					overflow-x: scroll;
					height: 21px;
					font-size: 14px;
					display: flex;
					align-items: center;
					margin-left: 0px;
					color: var(--fg-light);
				}
				> button {
					padding: 0;
					&.carat {
						line-height: 0.5em;
						font-size: 14px;
						align-self: flex-start;
					}
				}
			}
		}
		> .json_editor_array,
		> .json_editor_object {
			width: 100%;
			flex-grow: 1;
		}
		input {
			font-family: theia, monospace;
			background: none;
			&:disabled {
				border: none;
			}
		}
		input,
		button,
		select {
			&:focus-within {
				outline: 2px solid var(--fg-max);
				background: var(--bg-max);
				color: var(--fg-max);
			}
		}
		button:disabled {
			cursor: default;
			> span.json_editor_icon {
				color: var(--fg-hint);
			}
			&:hover {
				background: none;
			}
		}
		input::selection {
			background: var(--bg-accent);
		}

		button {
			background: none;
			color: #777;
			border: none;
			font-family: theia, monospace;
			font-size: 14px;
			height: 21px;
			min-width: 21px;
			margin: none;
			padding: 4px;
			padding-bottom: 6px;
			cursor: pointer;
			&:hover {
				color: #333;
				background-color: #aaa;
			}
		}
		select {
			font-family: theia, monospace;
			font-size: 14px;
			background: none;
			border: none;
			color: #777;
			@media (prefers-color-scheme: light) {
				color: #999;
			}
		}
		.json_editor_unofficial {
			background-color: #777;
			button {
				color: #333;
			}
		}
		.json_editor_missing {
			background-color: #f055;
		}
		.json_editor_key {
			padding-right: 0px;
			&::after {
				content: ":";
			}
			input {
				color: var(--fg-color);
			}
		}
		.json_editor_object,
		.json_editor_array {
			border-left: var(--fg-border-soft);
			margin-left: 9px;
			width: calc(100% - 9px);
			> footer {
				display: flex;
				flex-flow: row;
				justify-content: flex-start;
				justify-items: flex-start;
				height: 23px;
				align-items: baseline;
				position: relative;
			}
			.json_editor_properties,
			.json_editor_elements {
				border-top: var(--fg-border-soft);
				.json_editor_property,
				.json_editor_element {
					display: flex;
					border-bottom: var(--fg-border-soft);
					margin-bottom: 2px;
					min-height: 23px;
					> header {
						> main {
							> span {
								input {
									min-width: 10px;
								}
								> * {
									border: var(--fg-border-hint);
								}
							}
						}
					}
				}
				&.readonly {
					.json_editor_property,
					.json_editor_element {
						&:last-of-type {
							border-bottom: none;
						}
						span > * {
							border: 1px solid transparent;
						}
					}
				}
			}
		}
	}

	.json_editor_icon {
		color: var(--fg-soft);
	}

	button.carat {
		border: none;
		cursor: pointer;
		background: none;
		&:focus-within {
			outline: none;
			background: none;
		}
		> .json_editor_icon {
			line-height: 4px;
		}
		&.open {
			transform: rotate(90deg);
		}
		&:disabled {
			> .json_editor_icon {
				cursor: default;
				color: var(--fg-hint);
			}
		}
	}
}
