@font-face {
  font-family: name;
  src: url(assets/love_yanone.ttf);
}

@font-face {
  font-family: "|_'_|";
  src: url(assets/DelveSystem-Regular.otf);
}

@font-face {
  font-family: sudo;
  src: url(assets/Sudo-Code.otf);
}
@font-face {
  font-family: theia;
  src: url(assets/Theia0.2.500-500.otf);
}

body {
  font-family: theia;
  font-size: 1.2em;
  line-height: 1.5;
}

i {
  font-family: "|_'_|";
}

code {
  font-family: sudo;
}
