main.class {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  gap: 1em;
  > h1 {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 36vh;
    > span {
      font-size: 144px;
      line-height: 0.69;
      font-weight: 900;
      &:first-of-type {
        color: var(--fg-soft-1);
      }
    }
    @media screen and (max-width: 370px) {
      transform: rotate(-90deg) translateX(30px);
    }
  }
}
