.class {
  display: flex;
  flex-flow: row;
  > div {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 100px;
    width: 100px;
    svg {
      height: 100%;
      width: 100%;
    }
  }
}
