main.class {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: calc(100% - 20px);
  max-width: 500px;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  > article[data-css-counter] {
    position: absolute;
    bottom: 160px;
    border: 1px solid var(--fg-soft-1);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &[data-css-counter="tiles"] {
      left: 20px;
    }
    &[data-css-counter="cubes"] {
      right: 20px;
    }
  }

  > article[data-css="turn-controls"] {
    position: absolute;
    bottom: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    > button {
      pointer-events: all;
      padding: 10px;
      height: 40px;
      &:disabled {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }
  > article[data-css="room-module"] {
    position: absolute;
    top: 60px;
    border: var(--fg-soft-1) solid 1px;
    padding: 5px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    button {
      pointer-events: all;
    }

    > header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      > h1 {
        margin: 0;
      }
      > span {
        margin: 0;
      }
    }
    > section {
      display: flex;
      flex-direction: row;
      gap: 5px;
    }
    > main {
      display: flex;
      > section {
        display: flex;
        flex-direction: row;
        gap: 5px;
        // border: 1px solid red;
        flex: 0;
        width: 0px;
        overflow: hidden;
        &[data-css-current="true"] {
          flex: 1;
        }
        > section {
          display: flex;
          flex-flow: column;
          flex: 1;
          height: 150px;
          align-items: center;
          justify-content: center;
          gap: 5px;
          border: var(--fg-soft-2) solid 1px;
          padding: 5px;
          position: relative;
          > header {
            position: absolute;
            top: 5px;
          }
          > main {
            display: flex;
            flex-direction: row;
            gap: 5px;
            > [data-css-user] {
              height: 50px;
              width: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              > svg,
              > span {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
          > section {
          }
          > button {
            position: absolute;
            background: none;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: -1;
          }
        }
      }
    }
  }
}
