main.class {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  > article[data-css="room-module"] {
    background: var(--bg-tint-1);
    border: var(--fg-soft-1) solid 1px;
    padding: 5px;
    width: calc(100% - 20px);
    max-width: 500px;
    > header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      > h1 {
        margin: 0;
      }
      > span {
        margin: 0;
      }
    }
    > main {
      display: flex;
      align-items: center;
      gap: 5px;
      justify-content: center;
      > div[data-css="mutual"] {
        background: var(--bg-tint-2);
        border: var(--fg-soft-2) solid 1px;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
