.class {
  display: flex;
  flex-flow: row;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 1px solid var(--fg-color);
  }
}
