:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #222;
	background-color: #eee;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	width: 100vw;
}

#app {
	text-align: center;
	display: flex;
	flex-flow: column;
	align-items: center;
}

img {
	margin-bottom: 1.5rem;
}

img:hover {
	filter: drop-shadow(0 0 2em #673ab8aa);
}

main {
	display: flex;
	flex-flow: column;
	align-items: center;
}

article {
	margin-top: 5rem;
	display: flex;
	gap: 10px;
	width: 100%;
	justify-content: center;
	align-items: stretch;
	max-width: 1280px;
}

.resource {
	padding: 0.75rem 1.5rem;
	border-radius: 0.5rem;
	text-align: left;
	text-decoration: none;
	color: #222;
	background-color: #f1f1f1;
	border: 1px solid transparent;
	flex: 1;
}

.resource:hover {
	border: 1px solid #000;
	box-shadow: 0 25px 50px -12px #673ab888;
}

@media (max-width: 639px) {
	article {
		flex-flow: column;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #ccc;
		background-color: #1a1a1a;
	}
	.resource {
		color: #ccc;
		background-color: #161616;
	}
	.resource:hover {
		border: 1px solid #bbb;
	}
}
.node {
	fill: #673ab8;
	stroke: #aaa;
}
.path {
	fill: #aaa1;
	stroke: #aaa;
}

button.flat {
	background: #777;
	border: none;
	height: 40px;
	font-size: 20px;
	color: #fff;
	border-radius: none;
	position: absolute;
	bottom: 10px;
	right: 10px;
}
