---
import Layout from "./Layout.astro"
import scss from "../styles/layout-docs.module.scss"
import * as nav from "../components/nav"
---

<Layout>
  <article class={scss.class}>
		<aside>
			<nav.SiteDirectory client:load transition:persist transition:name="site-directory" />
		</aside>
		<main>
			<slot />
		</main>
		<aside>
			<nav.OnThisPage client:load />
		</aside>
	</article>
</Layout>