---
import Layout from "./Layout.astro"
import { Navigation } from "../components/Navigation"
import scss from "../styles/layout-docs.module.scss"
---

<Layout>
  <article class={scss.class}>
		<Navigation client:load transition:persist />
		<main>
			<slot />
		</main>
	</article>
</Layout>