article.class {
  > nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  > article[data-css="server-control"] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    > div {
      border: 1px solid var(--fg-soft-3);
      padding: 5px;
    }
    > button {
    }
  }
}
