:root {
  --base-color: var(--fg-hard-1);
  --comment-color: var(--fg-soft-3);
  --keyword-color: var(--fg-soft-1);
  --punctuation-color: var(--fg-soft-2);
  --operator-color: var(--fg-soft-1);

  --type-color: rgb(252, 111, 203);
  --function-color: rgb(221, 149, 255);

  --boolean-color: gold;
  --null-color: gold;
  --number-color: gold;
  --string-color: gold;
  @media (prefers-color-scheme: light) {
    --type-color: rgb(243, 12, 162);
    --function-color: rgb(160, 1, 233);

    --boolean-color: rgb(160, 136, 0);
    --null-color: rgb(160, 136, 0);
    --number-color: rgb(160, 136, 0);
    --string-color: rgb(160, 136, 0);
  }
}

code {
  font-family: Theia, monospace !important;
}

astro-island {
  .codeblock {
    margin-top: 1.5em;
    box-sizing: border-box;
    overflow: visible;
    position: relative;
    display: flex;
    flex-flow: column;
    border: #0003 solid 1px;
    border-radius: 4px;
    width: 100%;

    > header {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      background: var(--bg-hard-1);
      border-radius: 3px 3px 0px 0px;
      > span {
        font-size: 15px;
        line-height: 20px;
        font-weight: 500;
        color: var(--fg-soft-1);
        padding: 0 8px;
      }
      > button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: 1px solid transparent;
        border-radius: 3px;
        height: 25px;
        width: 25px;
        --icon-color: var(--fg-color);
        position: relative;
        cursor: pointer;
        > svg {
          width: 16px;
          height: 16px;
        }
        &:hover {
          --icon-color: var(--hyperlink-color);
          border: 1px solid var(--icon-color);
          background: var(--bg-tint-1);
          &::before {
            content: "copy";
            position: absolute;
            top: -30px;
            right: 0;
            border-radius: 3px;
            background-color: var(--icon-color);
            padding: 0px 3px 2px;
            color: var(--bg-hard-1);
          }
        }
        &:active {
          --icon-color: var(--hyperlink-hover-color);
          border: 1px solid var(--icon-color);
          background: var(--bg-shade-1);
          &::before {
            content: "copied!";
          }
        }
        &:hover:focus-within {
          --icon-color: var(--hyperlink-hover-color);
          &::before {
            content: "copied!";
          }
        }
      }
    }

    > pre.prismjs {
      border-radius: 0px 0px 3px 3px;
      background-color: var(--bg-hard-1);
      padding: 1em;
      padding-top: 0.5em;
      overflow: auto;
      line-height: 1em;
      * {
        font-family: Theia;
        font-weight: 500;
        font-size: 13px;
      }
      > code {
        line-height: 1em !important;
        color: var(--base-color) !important;
        text-shadow: none !important;
        font-size: 13px !important;
        span {
          line-height: 17px !important;
        }
      }
    }

    color: var(--base-color) !important;
    span {
      text-shadow: 0px 1px 2px var(--bg-hard-2);
      color: var(--base-color);
      &.token {
        &.comment {
          color: var(--comment-color);
        }
        &.keyword {
          color: var(--keyword-color);
        }
        &.generic-function {
          color: var(--type-color);
        }
        &.constant {
          color: var(--type-color);
        }
        &.class-name,
        &.maybe-class-name,
        &.builtin {
          color: var(--type-color);
        }
        &.imports {
          color: var(--function-color);
        }
        &.punctuation {
          color: var(--punctuation-color);
        }
        &.operator {
          color: var(--operator-color);
        }
        &.boolean {
          color: var(--boolean-color);
        }
        &.null {
          color: var(--null-color);
        }
        &.number {
          color: var(--number-color);
        }
        &.string {
          color: var(--string-color);
        }
        &.type {
          color: var(--type-color);
        }
        &.function {
          color: var(--function-color);
          &.maybe-class-name {
            color: var(--base-color);
          }
        }
      }
    }
  }
}
