@import "../_responsive";

article.class {
  position: relative;
  display: flex;
  flex-flow: row;
  gap: 1em;
  height: 100%;
  margin-bottom: 3em;
  @media screen and (min-width: $viewport-medium-width) {
    padding-left: 200px;
  }
  @media screen and (min-width: $viewport-large-width) {
    padding-left: 0;
  }
  > main {
    display: flex;
    gap: 1em;
    flex-flow: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    max-width: 720px;
    min-height: 100%;
    flex-shrink: 1;
    margin: auto;
    margin-top: 4em;
    @media screen and (min-width: $viewport-medium-width) {
      margin: auto;
      margin-top: 2em;
    }

    > * {
      width: 100%;
    }
    h2 {
      margin-top: 2.5em;
    }
    h3 {
      margin-top: 2em;
    }
    h1,
    h2,
    h3,
    p {
      max-width: calc(100vw - 30px);
      @media screen and (min-width: $viewport-medium-width) {
        max-width: 700px;
      }
    }
    p {
      @media (prefers-color-scheme: light) {
        font-weight: 500;
      }
    }
  }
  table {
    border-collapse: collapse;
    tbody {
      * {
        border: none;
        box-sizing: border-box;
      }
      tr {
        border-bottom: 1px solid var(--fg-faint);
        th {
          border: none;
          background: var(--bg-soft-3);
          padding: 6px 2px;
          text-align: left;
        }
        td {
          padding: 6px 2px;
          border-bottom: 1px solid var(--fg-faint);
        }
      }
    }
  }
  ol,
  ul {
    margin-left: 4em;
    li {
      margin-bottom: 0.5em;
    }
  }
  aside {
    position: fixed;
    top: 5.5em;
    width: 200px;
    z-index: 10;
    > nav {
      display: flex;
      flex-flow: column;
      // padding: 1em;
      border-radius: 1em;
      // @include lg(background-color, none, #99999944);
      // @include lg(backdrop-filter, none, blur(15px));
      > section {
        display: flex;
        flex-flow: column;
        > header {
          font-weight: 600;
          margin-bottom: 0.5em;
        }
        > main {
          display: flex;
          flex-flow: column;
          gap: 0.2em;
          section {
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            > section {
              padding-left: 1em;
            }
            > a {
              padding: 0.2em 0.4em;
              user-select: none;
            }
          }
        }
      }
    }
    &:first-of-type {
      @include md(display, flex, none);
      left: 2em;
      nav {
        margin: 0 1em;
      }
    }
    &:last-of-type {
      @include lg(left, calc(50vw + 400px), none);
      @include lg(right, none, 2em);
      nav[data-user-has-toggled="false"] {
        @include lg(display, flex, none);
      }
      input[type="checkbox"] {
        @include lg(display, none, block);
        position: absolute;
        top: -1em;
        right: 0;
        z-index: 10;
        border-radius: 50%;
      }
      data:first-of-type {
        @include lg(display, none, block);
      }
    }
  }
  data:first-of-type {
    background: #9994;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    z-index: -1;
    transition:
      width 0.2s ease-in-out,
      height 0.2s ease-in-out,
      top 0.2s ease-in-out,
      left 0.2s ease-in-out;
  }
  data:last-of-type {
    background: var(--bg-hard-2);
    border-radius: 5px;
    border: 1px solid var(--hyperlink-color);
    z-index: -1;
    transition:
      width 0.2s ease-in-out,
      height 0.2s ease-in-out,
      top 0.2s ease-in-out,
      left 0.2s ease-in-out;
  }
}
