div.class {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  > * {
    background-color: var(--table-middle);
  }
  h3 {
    top: 1px;
    padding: 4px 24px 0px;
    margin: 0;
    margin-top: -20px;
    font-size: 16px;
    line-height: 16px;
  }
  main {
    width: 100%;
    max-height: 100%;
    min-height: 100px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    > span {
      min-height: 100px;
    }
  }
}
