name: Integration

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ vars.TURBO_TEAM }}

defaults:
  run:
    shell: bash

jobs:
  Lint:
    runs-on: ubuntu-latest
    container:
      image: node:lts
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Install Pnpm
        uses: pnpm/action-setup@v2
        id: pnpm-install
        with:
          version: 8.10.2
          run_install: false

      - name: Install Dependencies
        run: pnpm i

      - name: Biome
        run: pnpm lint:biome

      - name: ESLint
        run: pnpm lint:eslint

      - name: Type Check
        run: pnpm tsc

  Test:
    name: Build & Test
    runs-on: ubuntu-latest
    container:
      image: node:lts
    timeout-minutes: 15

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Set up PostgreSQL
        uses: harmon758/postgresql-action@v1
        with:
          postgresql version: "13"
          postgresql db: your_db_name
          postgresql user: your_user_name
          postgresql password: your_password

      - name: Install Pnpm
        uses: pnpm/action-setup@v2
        id: pnpm-install
        with:
          version: 8.10.2
          run_install: false

      - name: Install Dependencies
        run: pnpm i

      - name: Set up Git
        run: |
          git config --global init.defaultBranch main
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"

      - name: Build
        run: pnpm build

      - name: Test
        run: pnpm test
