name: Integration

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ vars.TURBO_TEAM }}

defaults:
  run:
    shell: bash

jobs:
  Lint:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 2

      - name: Set up Node
        uses: actions/setup-node@v4.0.2
        with:
          node-version: 20.11.1

      - name: Set up Bun
        uses: oven-sh/setup-bun@v1.2.0
        with:
          bun-version: 1.0.30

      - name: Install Dependencies
        run: bun i

      - name: Biome
        run: bun lint:biome

      - name: ESLint
        run: bun lint:eslint

      - name: Type Check
        run: bun tsc

  Test:
    name: Build & Test
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      NEXT_PUBLIC_REMOTE_ORIGIN: ${{ secrets.NEXT_PUBLIC_REMOTE_ORIGIN }}

    services:
      postgres:
        image: postgres:16.2-alpine3.19
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: your_password
          POSTGRES_DB: testdb
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready --health-interval 1s --health-timeout 0.5s --health-retries 30


    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 2

      - name: Set up Node
        uses: actions/setup-node@v4.0.2
        with:
          node-version: 20.11.1

      - name: Set up Bun
        uses: oven-sh/setup-bun@v1.2.0
        with:
          bun-version: 1.0.30

      - name: Install Dependencies
        run: bun i

      - name: Set up Git
        run: |
          git config --global init.defaultBranch main
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"

      - name: Build
        run: bun run build

      - name: Test
        run: bun run test
