name: Release

on:
  push:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  TURBO_API: ${{ secrets.TURBO_API }}
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAMID: ${{ vars.TURBO_TEAMID }}

jobs:
  Release:
    runs-on: ubuntu-latest
    timeout-minutes: 9
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: ./.github/actions/setup
      - uses: changesets/action@v1.6.0
        id: changesets
        with:
          # This expects you to have a script called release which does a build for your packages and calls changeset publish
          publish: pnpm release
          version: ./lib/version.sh
        env:
          GITHUB_TOKEN: ${{ secrets.CHANGESETS_GITHUB_PAT }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: klaxon
        if: steps.changesets.outputs.hasChangesets == 'false'
        run: |
          bun ./packages/flightdeck/src/klaxon.x.ts \
          --packageConfig='{"tempest.games":{"endpoint":"https://flightdeck.tempest.games/"}}' \
          --secretsConfig='${{ secrets.FLIGHTDECK_SECRETS }}' \
          --publishedPackages='${{ steps.changesets.outputs.publishedPackages }}' \
          -- scramble
