name: Renovate

on:
  schedule:
    - cron: "0 */6 * * *"

  workflow_dispatch:

  push:
    branches:
      - self-host-renovate

  pull_request:
    types: [opened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0
      - uses: renovatebot/github-action@v46.0.1
        with:
          token: ${{ secrets.RENOVATE_PAT }}
