name: Review

on:
  pull_request:
  issue_comment:

jobs:
  ExplainCode:
    if: ${{ !startsWith(github.head_ref, 'renovate/') }}
    name: Explain Code
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
      contents: write
    steps:
      - name: Codium
        id: codium-pr-agent
        uses: docker://codiumai/pr-agent:0.31-github_action
        env:
          OPENAI_KEY: ${{ secrets.OPENAI_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
